body {
  background-color: hsl(0, 0%, 13%);
  color: white;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: block;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
  font-family: 'Roboot', sans-serif; /* might have to import this */
}
