.notes__app {
  height: 100%;
}

.notes__app-sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 30%;
  height: 100%;
  border-right: 1px solid #505050;
  padding-right: 0.5rem;

  input {
    width: 100%;
    background-color: #505050;
    border: 0;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none; /* bad for accessibility */
    color: white;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ccc;
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #ccc;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #ccc;
    }
  }

  h2 {
    margin-top: 1rem;
  }
}